<!doctype html>
<html lang="pt-br" data-store="{{ store.id }}" class="page-{{ pages.current }}">
<head>
    {{ html.charset() }}
    {{ tray.meta }}
    <!-- [if IE]<meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ tray.styles }}
    {{ tray.scripts }}
    {{ tray.analytics }}
    {{ googleTagManager.header(pages.current, tagManagerData) }}

    {% if utils.is_mobile %}
        <link rel="stylesheet" href="{{ themePath }}css/bootstrap/bootstrap.min.css?{{ utils.assets_version }}">
        <link rel="stylesheet" href="//images.tcdn.com.br/img/arquivos/identidade_visual/css/sistema.css?{{ utils.assets_version }}">
        <link rel="stylesheet" href="//images.tcdn.com.br/img/arquivos/mobile/css/open-mobilev2.css?{{ utils.assets_version }}">
        <script src="//images.tcdn.com.br/img/arquivos/mobile/scripts/open-mobilev2.js?{{ utils.assets_version }}"></script>
        <link rel="stylesheet" href="{{ themePath }}css/theme-mobile.min.css?{{ utils.assets_version }}">
    {% else %}
        <link rel="stylesheet" href="{{ themePath }}css/theme.min.css?{{ utils.assets_version }}">
    {% endif %}
</head>
<body class="{{ pages.current }}">
    {{ googleTagManager.top(pages.current, tagManagerData) }}
    {% if utils.is_mobile %}
        {% element 'mobile/header' %}
    {% else %}
        {% element 'header' %}
    {% endif %}

    {% if pages.current == 'home' and banner.home %}
        <div class="banner banner-home">
            {{ banner.home }}
        </div>
    {% endif %}

    <div class="container">
        <div id="Page">
            {% if pages.current == 'home' %}
            <section class="page-content full-width-content">
            {{ content_for_layout }}
            </section>
            {% else %}
            <div class="center">
                {% element 'sidebar_left' %}
                <section class="page-content {% if pages.current != 'catalog' and pages.current != 'extra' and 'central_' not in pages.current %} full-width-content {% endif %}">
                    {{ content_for_layout }}
                </section>
            </div>
            {% endif %}
        </div>
    </div>

    {% if utils.is_mobile %}
        {% element 'mobile/footer' %}
    {% else %}
        {% element 'footer' %}
    {% endif %}

    {% if pages.current == 'home' %}
        {{ banner.popup ~ banner.floating }}
    {% endif %}

    {% element 'snippets/modal' %}
    {{ googleTagManager.bottom(pages.current, tagManagerData) }}
    {{ html.script('dist/application.min.js?' ~ utils.assets_version) }}
    <script src="{{ themePath }}js/theme.min.js?{{ utils.assets_version }}"></script>
    {% element 'snippets/pageview' %}
</body>
</html>
