// cores
$laranja: #f47927;
$cinza:   #5a5b5b;

// fontes
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@mixin lato($size: 12, $weight: normal, $style: normal) {
    font-size: $size + px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: $weight;
    font-style: $style;
}
@mixin verdana($size: 12, $weight: normal, $style: normal) {
    font-size: $size + px;
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-weight: $weight;
    font-style: $style;
}

// clearfix
%clearfix {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}