.banner {
    margin: 0 auto;
    text-align: center;
    &.banner-home {
        background: $cinza;
        background: linear-gradient(to right, $cinza 0%, $cinza 50%, #fff 50%, #fff 100%);
    }
}
.banner-js {
    margin: 0 !important;
    padding: 0 !important;
    .prev_button, .next_button {
        opacity: 1 !important;
        &:hover {
            opacity: 1 !important;
        }
    }
    .prev_button {
        background: url('../img/seta-esq.png') no-repeat center !important;
        left: 0;
    }
    .next_button {
        background: url('../img/seta-dir.png') no-repeat center !important;
        right: 0;
    }
}
.label_skitter { display: none !important; }

.banner-extra1 {
    width: 100%;
    background: $cinza;
    background: linear-gradient(to right, $cinza 0%, $cinza 65%, $laranja 65%, $laranja 100%);
    a {
        display: block;
        width: 1080px;
        margin: 0 auto;
        img {
            display: block;
        }
    }
}