*, *:after, *:before {
    box-sizing: border-box !important;
}

body {
    color: $cinza;
    @include verdana(12);
    min-width: 1200px;
}

.center {
    width: 1080px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: $laranja;
    font-family: Lato, Arial, Helvetica, sans-serif;
}

p {
    border-bottom: 0;
}

.board_htm.description {
    h1 {
        margin: 10px 0 25px;
        padding-bottom: 8px;
        border-bottom: 1px solid rgba($cinza, .2);
        color: $laranja;
        @include lato(24, 300);
        text-transform: uppercase;
    }
}

.container, .container2, .container3, .bottom, .bLeft, .bRight, .leftCorner2, .leftCorner, .topBorder, #title, #esquerda, #direita, #visualAbas, #visualAbas li, #visualAbas li a, #foto_p, #colFotos, #colVideo, #col3D, .prodBox, .visitados, fieldset {
    background: none !important;
    border: 0 !important;
}

.board > h1 { display: none; }
.board { padding: 0 !important; margin: 0 !important; }

.Seguro, .bottom { display: none !important; }

.breadcrumb { display: none !important; }

.central_cliente #ProdBlock { display: none !important; }