.carrinho-tabs {
    ol {
        list-style-type: none;
        padding: 0;
        margin: 0 0 30px;
        @extend %clearfix;
        li {
            width: 25%;
            float: left;
            background: $cinza;
            color: #fff;
            text-align: center;
            padding: 12px 0;
            text-transform: uppercase;
            &.active {
                color: $laranja;
                h6 {
                    background: $laranja;
                }
            }
            h6, h2 {
                display: inline-block;
            }
            h6 {
                @include lato(10, 700);
                padding: 3px 6px;
                border-radius: 3px;
                background: #fff;
                color: $cinza;
            }
            h2 {
                @include lato(14);
                margin-left: 4px;
            }
            .passo-desc { display: none; }
        }
    }
}
#cesta_produtos { @extend %clearfix; }
#cesta_produtos h2, .tit-detalhes-compra h2, .tit-dados-entrega h2, .tit-escolha-forma, .mensagem-popup h3 {
    @include lato(16, 300);
    color: $laranja;
    text-transform: uppercase;
}
.tit-detalhes-compra h2, .tit-dados-entrega h2, .tit-escolha-forma, .mensagem-popup h3 {
    margin-top: 30px;
    margin-bottom: 20px;
}
.tit-detalhes-compra h2 {
    margin-top: 0;
}
.carrinho-heading { display: none; }
.checkout_cart #ProdBlock { display: none; }
.caixa-frete, .caixa-forma-frete, .caixa-total { width: 50%; clear: right; float: right; }
.caixa-frete, .caixa-total {
    margin: 20px 0;
}
.AvancarTopo + .botao-prosseguir-compra { display: none; }
#tabela_carrinho {
    th {
        @include lato(12, 700);
    }
    td {
        padding: 16px 0;
    }
}
.valores_carrinho {
    @include lato(16, 700);
}
.lista-formas-pagamento {
    li {
        background: #F6F6F6;
        padding: 25px;
        margin-bottom: 10px;
        legend {
            border: 0 !important;
            background: transparent !important;
        }
    }
}