.catalog-titulo {
    color: $laranja;
    @include lato(18, 300);
    margin-bottom: 30px;
    text-transform: uppercase;
}
.catalog-navegacao {
    @extend %clearfix;
    margin-top: 20px;
    margin-bottom: 30px;
    .filtro {
        float: left;
        label {
            @include verdana(11);
            color: rgba($cinza,.8);
        }
        select {
            @include verdana(11);
            background: $cinza;
            color: $laranja;
            outline: 0;
            height: 24px;
            width: 240px;
            border-radius: 0;
        }
    }
    .paginacao {
        float: right;
        width: auto;
        .page-link {
            display: inline-block;
            background: rgba($cinza,.3);
            color: #fff;
            cursor: default;
            margin-left: 1px;
            @include verdana(10);
            &.page-current {
                padding: 5px 8px;
                background: $cinza;
                color: $laranja;
                font-weight: bold;
            }
            a {
                display: block;
                padding: 5px 8px;
                text-decoration: none;
                color: inherit;
                transition: background .3s;
                &:hover {
                    background: rgba($cinza,.6);
                }
            }
        }
    }
    &.catalog-navegacao-bottom {
        margin: 0;
    }
}