.Mapa {
    display: none !important;
}
.container2 { @extend %clearfix; }
.contact .board {
    float: left;
    margin-bottom: 30px;
    h3 {
        @include lato(18,300);
        color: $laranja;
        margin: 20px 0 8px;
    }
    .email-texto a {
        @include lato(14);
        color: $laranja;
        &:hover {
            text-decoration: underline;
        }
    }
}
