footer {
    width: 100%;
    background: $cinza;
    margin-top: 80px;
    color: #fff;
    padding-top: 40px;
    @extend %clearfix;
    h4 {
        color: $laranja;
        @include lato(18);
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .links {
        float: left;
        margin-right: 100px;
        a {
            display: block;
            @include lato(13, 300);
            color: #fff;
            transition: color .3s;
            margin: 0 0 3px;
            &:hover {
                text-decoration: none;
                color: $laranja;
            }
        }
    }
    .newsletter {
        float: left;
        width: 300px;
        form {
            width: 100%;
            ::-webkit-input-placeholder {
                color: #fff;
            }
            :-moz-placeholder {
                color: #fff;
            }
            ::-moz-placeholder {
                color: #fff;
            }
            :-ms-input-placeholder {
                color: #fff;
            }
            input {
                display: block;
                border: 0;
                outline: 0;
                float: left;
                width: 88%;
                height: 32px;
                background: $laranja;
                color: #fff;
                padding: 0 8px;
                @include verdana(11);
            }
            button {
                display: block;
                border: 0;
                outline: 0;
                float: left;
                width: 12%;
                height: 32px;
                background: $laranja;
                border-left: 1px solid rgba(255,255,255,.5);
                @include verdana(11);
            }
        }
    }
    .siga {
        float: left;
        margin: 0 70px;
        a {
            display: inline-block;
            width: 20px;
            height: 20px;
            text-indent: -9999px;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 5px;
            &.facebook {
                background-image: url('../img/facebook.png');
            }
            &.instagram {
                background-image: url('../img/instagram.png');
            }
            &.linkedin {
                background-image: url('../img/linkedin.png');
            }
        }
    }
    .atendimento {
        float: right;
        @include lato(15, 300);
        p {
            border: 0;
            margin: 0 0 8px;
            padding: 0 0 0 26px;
            height: 20px;
            line-height: 20px;
            background-position: center left;
            background-repeat: no-repeat;
            cursor: default;
            &.telefone {
                background-image: url('../img/telefone2.png');
            }
            &.chat {
                background-image: url('../img/chat.png');
            }
            &.email {
                a {
                    color: #fff;
                    transition: color .3s;
                    &:hover {
                        color: $laranja;
                        text-decoration: none;
                    }
                }
                background-image: url('../img/email.png');
            }
        }
    }
    .selos {
        width: 100%;
        clear: both;
        float: left;
        margin-top: 40px;
        .center {
            @extend %clearfix;
        }
        border-top: 1px solid $laranja;
        padding: 30px 0;
        .left img {
            padding-top: 10px;
        }
        .right img {
            margin-left: 20px;
        }
    }
}

#trupe-copyright {
    text-align: center;
    padding: 20px 0;
    background: $laranja;
    @extend %clearfix;
    p {
        margin: 0;
        float: left;
        color: #fff;
        @include lato(11);
        cursor: default;
        &:last-child {
            float: right;
        }
        a {
            color: #fff;
            @include lato(11);
            transition: color .3s;
            &:hover { color: $cinza; }
        }
    }
}