header {
    width: 100%;
    height: 115px;
    .center {
        @extend %clearfix;
        position: relative;
    }
    h1 {
        display: block;
        width: 150px;
        height: 55px;
        margin: 28px 0 0;
        padding: 0;
        float: left;
        a {
            display: block;
            width: 150px;
            height: 55px;
            text-indent: -9999px;
            background: url('../img/logo-trevii.png') no-repeat center;
        }
    }
    .menu-login {
        position: absolute;
        top: 6px;
        right: 0;
        text-align: right;
        z-index: 2;
        a {
            display: inline-block;
            @include lato(12);
            color: $cinza;
            transition: color .3s;
            margin-left: 5px;
            span {
                font-style: italic;
                font-size: 11px;
                opacity: .8;
            }
            &:hover {
                text-decoration: none;
                color: $laranja;
            }
        }
    }
    .busca {
        float: left;
        width: 430px;
        height: 30px;
        margin-left: 140px;
        margin-top: 42px;
        form {
            width: 430px;
            height: 30px;
            ::-webkit-input-placeholder {
                color: #fff;
            }
            :-moz-placeholder {
                color: #fff;
            }
            ::-moz-placeholder {
                color: #fff;
            }
            :-ms-input-placeholder {
                color: #fff;
            }
        }
        input {
            display: block;
            height: 30px;
            width: 390px;
            background: $cinza;
            outline: 0;
            border: 0;
            float: left;
            padding: 0 10px;
            @include lato(12);
            color: #fff;
        }
        button {
            width: 30px;
            height: 30px;
            outline: 0;
            border: 0;
            float: left;
            background: url('../img/busca.png') no-repeat center $laranja;
        }
    }
    .menu-carrinho {
        height: 115px;
        float: right;
        text-align: right;
        padding-top: 45px;
        a {
            display: inline-block;
            height: 25px;
            padding-left: 25px;
            line-height: 25px;
            color: $cinza;
            @include lato(11, 700);
            transition: color .3s;
            margin-left: 15px;
            background-position: center left;
            background-repeat: no-repeat;
            span {
                font-size: 10px;
                font-weight: bold;
                background: $laranja;
                color: #fff;
                border-radius: 2px;
                margin-left: 5px;
                padding: 3px 5px;
            }
            &.minhas-compras {
                background-image: url('../img/minhas-compras.png');
            }
            &.telefone {
                background-image: url('../img/telefone.png');
            }
            &:hover {
                color: $laranja;
                text-decoration: none;
            }
        }
    }
}

.menu-principal {
    width: 100%;
    height: 42px;
    background: $laranja;
    transition: background .3s;
    z-index: 9999;
    &.dropdown-active {
        background: $cinza;
    }
    ul#menu-principal {
        position: relative;
        width: 100%;
        display: block;
        padding: 0;
        margin: 0;
        @extend %clearfix;
        li {
            list-style-type: none;
            float: left;
        }
        > li {
            display: block;
            height: 42px;
            line-height: 42px;
            padding: 0 25px;
            border-left: 1px solid rgba(255,255,255,.3);
            @include lato(12);
            color: #fff;
            > a {
                color: #fff;
                transition: color .3s;
                &:hover {
                    color: $cinza;
                }
            }
            &.todas-categorias {
                border: 0;
                transition: background .3s;
                span {
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    background: url('../img/seta.png') no-repeat center right;
                }
                > a:hover {
                    color: #fff;
                }
                ul {
                    position: absolute;
                    top: 42px;
                    left: 0;
                    width: 100%;
                    background: $laranja;
                    padding: 30px 20px;
                    z-index: 9999;
                    opacity: 0;
                    visibility: hidden;
                    transition: all .3s;
                    > li {
                        float: left;
                        width: 160px;
                        padding: 6px 20px;
                        @include lato(11);
                        line-height: 1;
                        &:nth-child(4n+1) {
                            clear: left;
                        }
                        a {
                            color: #fff;
                            transition: color .3s;
                            &:hover {
                                color: $cinza !important;
                            }
                        }
                    }
                }
                &:hover {
                    background: $laranja;
                    ul {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}