.caixa-cadastro, .caixa-login {
    background: #F6F6F6;
    padding: 25px;
    h3 {
        color: $laranja;
        @include lato(18, 300);
        text-transform: uppercase;
    }
    .recuperar-senha a {
        color: $laranja;
        @include verdana(11);
        &:hover {
            text-decoration: underline;
        }
    }
}
#CadastroAbas {
    background: transparent;
    border: 0;
    ul {
        padding: 0 !important;
    }
    li {
        display: inline-block;
        margin: 0;
        background: none;
        padding: 0;
        a {
            display: block;
            background: rgba($cinza,.5);
            padding: 0 20px !important;
            line-height: 60px;
            color: rgba(#fff, .5);
            @include lato(16);
            font-size: 16px !important;
            font-weight: 300 !important;
            text-transform: uppercase;
            transition: color .3s;
            &:hover {
                color: rgba(#fff,.8);
            }
        }
        &.aberta a {
            background: #F6F6F6;
            color: $laranja;
        }
    }
}
#frm2 {
    background: #F6F6F6;
    padding: 30px !important;
    h2 {
        @include lato(14, 700);
        text-transform: uppercase;
        color: $cinza;
        margin: 15px 0;
    }
    h2 + br {
        display: none;
    }
}

.blocoAlerta {
    width: 100%;
    background: none;
    border: 1px dotted $cinza;
    margin: 0 0 20px;
}