.product-abas {
    margin-top: 50px;
    #ProdAbas {
        background: #AEAEAE !important;
        text-transform: none;
        letter-spacing: 0;
        padding: 0 !important;
        margin-bottom: 12px;
        ul {
            padding: 0 !important;
            @extend %clearfix;
            li {
                float: left;
                margin: 0;
                background: transparent;
                padding: 0 !important;
                margin-left: 1px solid #fff;
                &.aberta {
                    background: $laranja;
                }
                a {
                    background: transparent;
                    @include lato(12);
                    color: #fff;
                    padding: 15px 24px;
                }
            }
        }
    }
}

#product-container {
    @extend %clearfix;
    margin-bottom: 60px;
}

.product-gallery {
    width: 540px;
    float: left;
    .produto-imagem-abas {
        ul {
            display: none;
        }
    }
    #colFotos, #foto_p { padding: 0 !important; }
    #foto_p #wrap { z-index: 9998 !important; }
    .produto-zoom-detalhe {
        @include verdana(10);
        color: $laranja;
        font-style: italic;
    }
    #container_thumb, #container_thumb img { width: 100%; height: auto; max-width: none !important; max-height: none !important; }
    #container_thumb {
        margin-bottom: 10px !important;
    }
    #cloud-zoom-big {
        margin-left: 125px !important;
    }
}

.modal { z-index: 9999; }

.product-main {
    width: 480px;
    float: right;
    .titulo {
        border-bottom: 1px solid rgba($cinza, .2);
        padding-bottom: 20px;
        h1 {
            @include verdana(17, bold);
            color: $cinza;
            margin: 0 0 4px;
        }
        p {
            margin: 0;
            padding: 0;
            @include verdana(12);
            color: rgba($cinza, .5);
        }
    }
    .texto_variacao {
        padding: 0;
        float: left;
        h2 {
            width: auto;
            @include verdana(12, bold);
            color: rgba($cinza, .5);
            display: inline-block;
            line-height: 25px;
            margin-right: 15px;
        }
        #cor_nome { display: none; }
    }
    .lista_cor_variacao {
        float: left;
        clear: none;
        width: auto;
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
            padding: 0;
            margin: 0 3px 3px;
            img {
                display: block;
                width: 25px;
                height: auto;
                padding: 4px;
                height: auto;
                border: 1px solid transparent;
                &.cor_selecionada {
                    border-left: 1px solid rgba($cinza, .5) !important;
                    border-top: 1px solid rgba($cinza, .5) !important;
                    border-right: 1px solid rgba($cinza, .5) !important;
                    border-bottom: 1px solid rgba($cinza, .5) !important;
                }
            }
        }
    }
    .cor_variacao {
        margin: 17px 0 0;
        padding-bottom: 17px;
        border-bottom: 1px solid rgba($cinza, .2);
        @extend %clearfix;
    }
    .product-preco-quantidade {
        @extend %clearfix;
        padding: 30px 0;
        border-bottom: 1px solid rgba($cinza, .2);
    }
    .product-preco {
        width: 50%;
        float: left;
        .produto-formas-pagamento { display: none; }
        #preco {
            padding: 0;
            border-top: none;
            border-bottom: none;
            .color-tone-2 {
                @include verdana(14);
                color: rgba($cinza, .4);
            }
            .PrecoPrincipal {
                color: $laranja;
                @include verdana(22, 700);
                abbr {
                    border-bottom: none;
                    font-size: 18px;
                }
            }
        }
    }
    .product-quantidade {
        width: 45%;
        float: right;
    }
    #quantidade {
        border-top: none;
        border-bottom: none;
        @include verdana(12);
        label {
            color: rgba($cinza,.5);
            margin-right: 10px;
        }
        input {
            width: 60px;
            border: 1px solid rgba($cinza, .5);
            background: none;
            font-weight: normal;
            color: $cinza;
        }
    }
    .botao-comprar {
        background: $laranja;
        border: 0;
        border-radius: 0;
        margin-top: 10px;
        padding: 0;
        text-align: center;
        width: 100%;
        .botao-commerce-img {
            background: none;
            text-align: center;
            padding: 8px 0;
            @include verdana(13, bold);
        }
    }
    .product-frete {
        padding: 20px 0 30px;
        border-bottom: 1px solid rgba($cinza, .2);
        .disponibilidade {
            padding: 0;
            @include verdana(12);
            color: rgba($cinza, .6);
        }
        #cepbox {
            border-top: none;
            border-bottom: none;
            margin: 5px 0 0;
            padding: 0;
            h6, label {
                @include verdana(12);
                color: rgba($cinza, .6);
            }
            h6 {
                font-weight: bold;
                margin-bottom: 3px;
            }
            input {
                background: none;
                border: 1px solid rgba($cinza, .5);
            }
            .botao-simular-frete {
                background: $cinza;
                color: $laranja;
                @include verdana(11);
                padding: 4px 18px;
                border-radius: 0;
            }
        }
        #span_erro_cep {
            margin-top: 10px;
            margin-bottom: 0;
        }
    }
    .product-compartilhamento {
        padding: 20px 0 0;
        @extend %clearfix;
        .compartilhe {
            @include verdana(11,bold);
            line-height: 20px;
            color:$laranja;
            float: left;
            margin-right: 10px;
        }
        .twitter-share-button, .fb-like { float:left; margin-right: 10px;}
    }
}

