#vitrine-catalogo #div_erro {
    a {
        color: $laranja;
        h3 {
            @include lato(16, 300);
            margin-bottom: 20px;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    p.blocoAlerta {
        background: transparent;
        border: 1px dotted $cinza;
        color: $cinza;
    }
}