.showcase {
    @extend %clearfix;
    .showcase-title {
        float: left;
        width: 100%;
        color: $laranja;
        @include lato(18);
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    .showcase-produto {
        width: 204px;
        float: left;
        margin-right: 15px;
        margin-bottom: 45px;
        &:hover {
            .produto-botao {
                background: $laranja;
            }
            .produto-imagem {
                border-color: $laranja;
            }
        }
        &:nth-child(5n+5) {
            margin-right: 0;
        }
        .produto-imagem {
            width: 100%;
            border: 1px solid rgba($cinza, .3);
            padding: 8px;
            margin-bottom: 10px;
            transition: border .3s;
            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
        h3 {
            @include verdana(11, 700);
            height: 44px;
            color: $cinza;
        }
        .produto-preco {
            @include verdana(10, 700);
            color: rgba($cinza,.7);
            span {
                color: $laranja;
                font-size: 12px;
            }
        }
        .produto-botao {
            display: block;
            margin-top: 10px;
            width: 100%;
            background: $cinza;
            @include verdana(11);
            color: #fff;
            text-align: center;
            padding: 5px 0;
            transition: background .3s;
        }
    }
    &.showcase-catalog {
        .showcase-produto {
            width: 200px;
            margin-right: 13px;
            &:nth-child(5n+5) {
                margin-right: 13px;
            }
            &:nth-child(4n+4) {
                margin-right: 0;
            }
        }
    }
}