.container {
    @extend %clearfix;
}

.sidebar {
    width: 196px;
    float: left;
    margin-right: 45px;
    margin-top: 40px;
    background: #F6F6F6;
    padding: 20px 0 10px;
    h3 {
        color: $laranja;
        @include lato(15);
        text-transform: uppercase;
        padding-left: 20px;
    }
    ul {
        padding: 0;
        margin: 15px 0 0;
        list-style-type: none;
        li {
            display: block;
            width: 100%;
            margin: 2px 0;
            a {
                display: block;
                color: $cinza;
                transition: all .3s;
                padding: 5px 5px 5px 25px;
                @include lato(14);
                &:hover {
                    color: #fff;
                    background: $laranja;
                }
            }
        }
    }
}

.page-content {
    float: left;
    width: 839px;
    padding-top: 40px;
    &.full-width-content {
        width: 100%;
        float: none;
    }
}