<footer>
    <div class="center">
        <div class="links">
            <h4>Dúvidas e Suporte</h4>
            {% for custom in pages.custom %}
                <a href="{{ custom.url }}">{{ custom.name }}</a>
            {% endfor %}
        </div>

        <div class="newsletter">
            <h4>Newsletter</h4>
            <form action="{{ links.newsletter }}" method="POST">
                <input type="hidden" name="loja" value="{{ store.id }}">
                <input name="email" type="text" required placeholder="E-mail">
                <button>OK</button>
            </form>
        </div>

        <div class="siga">
            <h4>Siga</h4>
            <a href="#" class="facebook" target="_blank">facebook</a>
            <a href="#" class="instagram" target="_blank">instagram</a>
            <a href="#" class="linkedin" target="_blank">linkedin</a>
        </div>

        <div class="atendimento">
            <h4>Atendimento</h4>
            <p class="telefone">(11) 9234 5678 | (11) 9234 5678</p>
            <p class="email"><a href="mailto:contato@trevii.com.br">contato@trevii.com.br</a></p>
            <p class="chat">chat on-line</p>
        </div>
    </div>

    <div class="selos">
        <div class="center">
            <div class="left">
                <img src="https://images.tcdn.com.br/440399/themes/9/img/pagamento.png">
            </div>

            <div class="right">
                <img src="https://images.tcdn.com.br/440399/themes/9/img/loja-protegida.png">
                <img src="https://images.tcdn.com.br/440399/themes/9/img/verificada.png">
                <img src="https://images.tcdn.com.br/440399/themes/9/img/site-blindado.png">
            </div>
        </div>
    </div>
</footer>
<div id="trupe-copyright">
    <div class="center">
        <p>© 2015 Trevii - Todos os direitos reservados.</p>
        <p><a href="http://trupe.net" target="_blank">Criação de sites</a>: <a href="http://trupe.net" target="_blank">Trupe Agência Criativa</a></p>
    </div>
</div>