<!--{% element 'snippets/messages' %}-->
<header>
    <div class="center">
        <h1><a href="{{ links.home }}" title="{{ store.name }}">{{ store.name }}</a></h1>
        <div class="busca">
            <form role="form" action="{{ links.search }}">
                <input type="hidden" name="loja" value="{{ store.id }}">
                <input type="search" placeholder="O que você procura?" name="palavra_busca" required>
                <button></button>
            </form>
        </div>
        <div class="menu-login">
            {% if customer.logged %}
            <a href="{{ links.central }}">Minha conta <span>({{ customer.name }})</span></a>
            <a href="{{ links.logout }}">Sair</a>
            {% else %}
            <a href="{{ links.login }}">Login</a>
            <a href="{{ links.register }}">Cadastre-se</a>
            {% endif %}
        </div>
        <div class="menu-carrinho">
            <a href="{{ links.cart }}" class="minhas-compras">MINHAS COMPRAS <span data-cart="amount">{{ cart.amount }}</span></a>
            <a href="{{ links.contact }}" class="telefone">CONTATO</a>
        </div>
    </div>
</header>

<div class="menu-principal">
    <div class="center">
        <ul id="menu-principal">
            <li class="todas-categorias">
                <a href="javascript:void(0)">TODAS AS CATEGORIAS <span></span></a>
                <ul>
                {% for category in categories %}
                    <li><a href="{{ category.link }}">{{ category.name }}</a></li>
                {% endfor %}
                </ul>
            </li>
            {% for category in categories|slice(0,5) %}
                <li><a href="{{ category.link }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
