{% if 'central_' in pages.current %}
<aside class="sidebar">
    {% element 'snippets/menu_central' %}
</aside>
{% elseif pages.current == 'catalog' %}
<aside class="sidebar">
    <h3>Categorias</h3>
    {% element 'snippets/categories_list' %}
</aside>
{% elseif pages.current == 'extra' %}
<aside class="sidebar">
    <h3>Dúvidas e Suporte</h3>
    <ul>
    {% for custom in pages.custom %}
        <li><a href="{{ custom.url }}">{{ custom.name }}</a></li>
    {% endfor %}
    </ul>
</aside>
{% endif %}
