{% if banner.title %}
    <div class="banner banner-title">
        {{ banner.title }}
    </div>
{% endif %}

{% if breadcrumb %}
    {% element 'snippets/breadcrumb' %}
{% endif %}

<h1 class="catalog-titulo">{{ category.name }}</h1>

{% if products|length > 0 %}
    <div class="catalog-navegacao">
        <div class="filtro">
            {% element 'snippets/filter' {
                'brands': search.brands
            } %}
        </div>
        <div class="paginacao">
            {% element 'snippets/paginate' %}
        </div>
    </div>

    {% element 'snippets/showcase' {
        "products": products,
        "type": 'catalog'
    } %}

    <div class="catalog-navegacao catalog-navegacao-bottom">
        <div class="paginacao">
            {% element 'snippets/paginate' %}
        </div>
    </div>
{% else %}
    <p>Nenhum produto encontrado nessa categoria.</p>
{% endif %}

</section></div></div>

<div style="margin-top: 65px;">
    {% element 'snippets/banner_horizontal' %}
</div>

{% set showcase_ofertas = Products({
    'filter': 'available',
    'order': 'rand',
    'limit': 5
}) %}

<div class="center" style="margin: 65px auto -45px;">
    {% element 'snippets/showcase' {
        "showcaseTitle": "Outras Ofertas",
        "products": showcase_ofertas
    } %}
</div>
