{% set showcase_populares = Products({
    'filter': 'available',
    'order': {'quantity_sold': 'desc'},
    'limit': 5
}) %}

{% set showcase_ofertas = Products({
    'filter': 'available',
    'order': 'rand',
    'limit': 10
}) %}

<div class="center" style="margin-bottom: 20px;">
    {% element 'snippets/showcase' {
        "showcaseTitle": "Produtos Mais Populares",
        "products": showcase_populares
    } %}
</div>

{% element 'snippets/banner_horizontal' %}

<div class="center" style="margin: 65px auto -45px;">
    {% element 'snippets/showcase' {
        "showcaseTitle": "Outras Ofertas",
        "products": showcase_ofertas
    } %}
</div>