{% if banner.title %}
    <div class="banner banner-title">
        {{ banner.title }}
    </div>
{% endif %}

{% if search.word %}
    <h1 class="catalog-titulo">Buscando por: <span>{{ search.word }}</span></h1>
{% endif %}

{% if products|length > 0 %}
    <div class="catalog-navegacao">
        <div class="filtro">
            {% element 'snippets/filter' {
                'brands': search.brands
            } %}
        </div>
        <div class="paginacao">
            {% element 'snippets/paginate' %}
        </div>
    </div>

    {% element 'snippets/showcase' {
        "products": products
    } %}

    <div class="catalog-navegacao catalog-navegacao-bottom">
        <div class="paginacao">
            {% element 'snippets/paginate' %}
        </div>
    </div>
{% else %}
    <p>Nenhum produto encontrado.</p>
{% endif %}
