<h3>{{ Translation('pedidos') }}</h3>
<ul>
    <li><a href="{{ links.orders }}">{{ Translation('central_anteriores') }}</a></li>
    <li><a href="{{ links.payment_confirm }}">{{ Translation('confirma_pag') }}</a></li>
    <li><a href="{{ links.orders_tracking }}">{{ Translation('rastrear_pedido') }}</a></li>
    <li><a href="{{ links.orders_return }}">{{ Translation('central_troca_devolucao') }}</a></li>
</ul>
<h3 style="margin-top: 20px;">{{ Translation('seu_cadastro') }}</h3>
<ul>
    <li><a href="{{ links.account }}">{{ Translation('alterar_cadastro') }}</a></li>
    <li><a href="{{ links.account_password }}">{{ Translation('central_alterar_senha') }}</a></li>
</ul>
<h3 style="margin-top: 20px;">{{ Translation('atendimento') }}</h3>
<ul>
    <li><a href="{{ links.contact }}">{{ Translation('fale_conosco') }}</a></li>
</ul>
