<div itemscope itemtype="http://schema.org/Product">
    <a href="{{ product.link }}" itemprop="url">
        <div class="produto-imagem">
            <img src="{{ product.images[0].large }}" alt="{{ product.name }}">
        </div>
        <h3>{{ product.name }}</h3>
        <div class="produto-preco" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            {% set price = product.price_offer > 0 ? product.price_offer : product.price %}
            Por: <span itemprop="price">{{ price|currency }}</span>
            <meta itemprop="priceCurrency" content="BRL">
        </div>
        <span class="produto-botao">COMPRAR</span>
    </a>
</div>