{% if products|length > 0 %}

    <div class="showcase {% if type == 'catalog' %} showcase-catalog {% endif %}">
        {% if showcaseTitle %}
        <h4 class="showcase-title">{{ showcaseTitle }} </h4>
        {% endif %}

        <div>
            {% for product in products %}
            <div class="showcase-produto">
                {% element 'snippets/product' {"product": product} %}
            </div>
            {% endfor %}
        </div>
    </div>

{% endif %}
